<div class="col">
        <div class="row">
            <h1 class="text text-primary text-center">Toy Car Details</h1>
        </div>
        <div class="row">
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="2">
                        <img src="{{ toyCars.image }}" alt="{{ toyCars.name }}" width="300" height="300">
                    </th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>{{ toyCars.name }}</th>
                </tr>
                <tr>
                    <th>Brand</th>
                    <th>{{ toyCars.brand }}</th>
                </tr>
                <tr>
                    <th>Detail</th>
                    <th>{{ toyCars.detail }}</th>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <th>{{ toyCars.quantity }}</th>
                </tr>
                <tr>
                    <th>Price</th>
                    <th>{{ toyCars.price }}</th>
                </tr>
                <tr>
                    <th>Date</th>
                    <th>{{ toyCars.date }}</th>
                </tr>
            </table>
        </div>
    </div>
