<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
   <div class="container">
      <a class="navbar-brand" href="#"><span>ATN STORE</a> <button aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
         data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
            class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link" href="/">Home Page</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="listlego">Home Lego</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="admincar">Manager car</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#">Contact</a>
            </li>
         </ul>
      </div>
   </div>
</nav>
<section style="background-color: #cb9fbf;">
   <h4 class="text-center" style="margin-top: 60px">List Car Products</h4>
   <div class="container py-5">
      <div class="row ">
         {{#each toyCars }}
         <div class="card col-md-2  m-3 mx">
            <div class="card text-black">
               <a href="/detailcar/{{_id}}">
                  <img src="{{image}}" class="card-img-top" width="200" height="250">
               </a>
               <div class="card-body">
                  <div class="text-center mt-1">
                     <h4 class="card-title">{{name}}</h4>
                     <h6 class="text-primary mb-1 pb-3">{{brand}}</h6>
                  </div>
                  <div class="text-center">
                     <div class="d-flex flex-column mb-4">
                        <span class="h1 mb-0">
                           <i class="fas fa-camera-retro"></i>
                        </span>
                        <ul class="list-unstyled mb-0">
                           <li aria-hidden="true">—</li>
                           <li>${{price}}</li>
                           {{!-- <li>{{detail}}</li> --}}
                           <li aria-hidden="true">—</li>
                        </ul>
                     </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                     <div class="btn btn-danger flex-fill ms-1">
                        <form action="/order" method="post">
                           <input type="hidden" name="name" value="{{name}}">
                           <input type="hidden" name="price" value="{{price}}">
                           <input class="form-control mb-3" type="number" name="order_quantity" min="1"
                              max="{{quantity}}">
                           <input class="btn btn-danger" type="submit" value="Order">
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</section>